.topBar{
    position: relative;
    height: 20vh;
    width: 100vw;
    background-color:black;
}
#topBarLogo,#topBarEnter,#topBarList{
    position: relative;
    display: inline-block;
    height: 100%;
   
}

#topBarLogo{
    width: 20%;
    /* background-color: rgb(5, 46, 46); */
    vertical-align: bottom;
}

#topBarEnter{
    width: 20%;
    /* background-color:aquamarine; */
    vertical-align: bottom;
}

#topBarList{
    width: 60%;
   /*  background-color: rgb(19, 153, 243); */
    vertical-align: bottom;
}
